<app-menu></app-menu>
<div class="container-essayer">
  <h1>Gestion des Taches</h1>
  <p>Chaque projet contient ses tâches</p>

  <!-- Loading -->
  <div *ngIf="loading">Chargement des Taches...</div>
  <div class="container-button">
    <!-- No projects -->
    <div *ngIf="!loading && tasks.length === 0" class="card project">
      Il n'y a aucun Taches. Ajoutez votre Taches.
    </div>

    <!-- Projects list -->
    <ng-container *ngIf="!loading && tasks.length > 0">
      <div *ngFor="let task of tasks" class="card project">
        <h3>📌 task : {{ task.titre }}</h3>
        <div class="card-p-button">
          <p><strong>Description:</strong> {{ task.description }}</p>
          <button class="delete" (click)="deleteTask(task.id)">Delete</button>
        </div>
      </div>
    </ng-container>

    <!-- Unique button here -->
    <button class="add" (click)="goToAddTask()">➕ Ajouter une Tâche</button>
  </div>
</div>

<app-footer></app-footer>
