<app-menu></app-menu>

<div class="container-all">
  <div class="container-essayer">
    <h1>Gestion des Taches</h1>
    <br />
    <!-- <p>Chaque projet contient ses tâches</p>

  <div *ngIf="loading">Chargement des projets...</div>

  <div *ngIf="!loading && projects.length === 0" class="card project">
    Il n'y a aucun projet. Ajoutez votre projet.
  </div> -->

    <!-- Projects list -->
    <!-- <ng-container *ngIf="!loading && projects.length > 0">
    <div *ngFor="let projet of projects" class="card project">
      <h3>📌 Projet : {{ projet.name }}</h3>
      <div class="card-p-button">
        <p><strong>Description:</strong> {{ projet.description }}</p>
        <button (click)="deleteProject(projet.id)">Delete</button>
        <button routerLink="/tasks" class="Details">Details</button>
      </div>
    </div>
  </ng-container> -->

    <ng-container>
      <div class="card project">
        <h3>📌 Tasks</h3>
        <div class="card-p-button">
          <p>Tache 1</p>
          <button>Delete</button>
        </div>
      </div>
    </ng-container>
  </div>

  <app-footer></app-footer>
</div>
