<div class="container-essayer">
  <div class="demo">
    <h1>Démo VoiceTask</h1>
    <p>Testez notre assistant vocal intelligent</p>

    <div class="card">
      <h3><i class="fa fa-microphone"></i> Interface Vocale</h3>
      <small
        >Dites "Ajoute tâche : [description]" ou "Planifie réunion
        [titre]"</small
      >

      <div class="mic-container">
        <div class="mic-button">
          <i class="fa fa-microphone"></i>
        </div>
        <button class="voice-button">Send To Gemini</button>
      </div>
    </div>
    <div class="card-2">
      <div class="exemple">
        💡 Exemples : "Ajoute tâche" :Add Task 1 to Project Odoo
      </div>
    </div>
  </div>
  <!-- --------------------------------------- -->
  <!-- Titre -->
  <h1>Gestion des Projets</h1>
  <br />
  <p>Chaque projet contient ses tâches</p>

  <!-- Loading -->
  <div *ngIf="loading">Chargement des projets...</div>

  <!-- No projects -->
  <div *ngIf="!loading && projects.length === 0" class="card-project">
    Il n'y a aucun projet. Ajoutez votre projet.
  </div>

  <!-- Projects list -->
  <ng-container *ngIf="!loading && projects.length > 0">
    <div *ngFor="let projet of projects" class="card project">
      <h3>📌 Projet : {{ projet.name }}</h3>
      <p>{{ projet.description }}</p>

      <!-- Example static tasks -->
      <ul class="task-list">
        <li>✅ Tâche 1</li>
        <li>🔄 Tâche 2</li>
        <li>⏳ Tâche 3</li>
      </ul>
    </div>
  </ng-container>
</div>
