<app-menu></app-menu>
<br />
<br />
<br />
<div class="container-essayer">
  <div class="demo">
    <h1>Démo VoiceTask</h1>
    <p>Testez notre assistant vocal intelligent</p>

    <div class="card">
      <h3><i class="fa fa-microphone"></i> Interface Vocale</h3>
      <small> Dites "Ajoute tâche : [description]" </small>

      <div class="mic-container">
        <div class="mic-button" (click)="startRecording()">
          <i class="fa fa-microphone"></i>
        </div>
        <button class="voice-button" (click)="stopRecording()">
          Gemini Text
        </button>
        <span *ngIf="loadingGemni" class="loading-text"
          >Transcription en cours...</span
        >
      </div>

      <!-- 🎤 Résultat transcription -->
      <div class="transcription-box" *ngIf="transcription">
        <h4>📝 Texte transcrit :</h4>
        <p>{{ transcription }}</p>
      </div>
    </div>

    <div class="card-2">
      <div class="exemple">
        💡 Exemples : "Ajoute tâche" : Add Task 1 to Project Odoo
      </div>
    </div>
  </div>

  <!-- --------------------------------------- -->
  <!-- Titre -->
  <div class="container-essayer">
    <h1>Gestion des Projets</h1>
    <p>Chaque projet contient ses tâches</p>

    <!-- Loading -->
    <div *ngIf="loading">Chargement des projets...</div>

    <!-- No projects -->
    <div *ngIf="!loading && projects.length === 0" class="card project">
      Il n'y a aucun projet. Ajoutez votre projet.
    </div>

    <!-- Projects list -->
    <ng-container *ngIf="!loading && projects.length > 0">
      <div *ngFor="let projet of projects" class="card project">
        <h3>📌 Projet : {{ projet.name }}</h3>
        <div class="card-p-button">
          <p><strong>Description:</strong> {{ projet.description }}</p>
          <button (click)="deleteProject(projet.id)">Delete</button>
          <button [routerLink]="['/tasks', projet.id]" class="Details">
            Details
          </button>
        </div>
      </div>
    </ng-container>

    <!-- Unique button here -->
    <button routerLink="/addproject" class="add">➕ Ajouter un projet</button>
  </div>
</div>

<app-footer></app-footer>
