.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #343a40;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
  margin-top: 50px;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

h1 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  color: #6c757d;
  max-width: 800px;
  margin: 0 auto;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.feature-card {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.feature-card h2 {
  color: #3498db;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.feature-card p {
  color: 6c757d;
  margin: 0;
}

.highlight {
  color: 4a6bff;
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.35rem;
  }
  .feature-card h2 {
    font-size: 1.2rem;
  }
  .feature-card {
    margin: 0 50px;
  }

  p {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }

  .features-container {
    grid-template-columns: 1fr;
  }
}

.features-container-secondary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 50px;
}

.section-table {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  margin: 0 50px;
  padding: 2px 0;
  background-color: #f5f5fa;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .section-table {
    margin: 0 20px;
  }
}

.container-table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.table-container {
  font-family: Arial, sans-serif;
  height: 50vh;
  margin: 0;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 900px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0f172a;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 13px;
  border-bottom: 1px solid #e5e7eb;
}

th {
  font-weight: bold;
  color: #111827;
}

td:first-child {
  text-align: left;
  font-weight: 500;
  color: #111827;
}

.check {
  color: green;
  font-size: 20px;
}

.cross {
  color: brown;
  font-size: 20px;
}

/* Mobiles (≤ 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 0.85rem;
    padding: 0 10px;
  }

  .feature-card {
    padding: 1rem;
    margin: 0 10px;
  }

  .feature-card h2 {
    font-size: 1rem;
  }

  .feature-card p {
    font-size: 0.9rem;
  }

  .section-table {
    margin: 0 10px;
    padding: 10px;
  }

  table {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 8px;
  }
}
